a{
    text-decoration: none;
}

.category{
    background-image: url("/public/images/pictures/category/left colum.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.contact{
    background-image: url("/public/images/pictures/home/shopImage.png");
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    list-style-type: disc !important;
}